mixin navItem(entity)
  li.nav-item
    a.capitalized.nav-link(href=`${'/' + entity + '/list'}`) #{entity}


nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Lab 2
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      +navItem('customers')
      +navItem('executors')
      +navItem('projects')
      +navItem('executions')