doctype html
html(lang='en')
  head
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    style
      include ../css/styles.css
    title Lab 2
  body
    include header.pug
    div.container-fluid
      div.row
        block entityTable
      div.row.justify-content-center.align-items-center
        block submitForm
    include footer.pug        